/* This sets the overall styling for the website, as well as with pseudoelements, with a specific box-sizing. */
*, 
*::before,
*::after {
  box-sizing: border-box;
}

/* This specifices the height, margin, and padding for the body and the wrapper class. */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* This places the text in the h2 element to be centered. */
h2 {
  text-align: center;
}

/* This specifies the font-family and the background color for the body of the webpage. */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

/* This puts padding all around the wrapper class except for padding-bottom. */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* This centers the text in the header, gives it padding and gives it a specific text color. */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* This specifices the color and background styling, as well as margin and passing, for the card that is in the center of the webpage. */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

/* This changes the card header after it is clicked and content can be displayed beneath it in the body. */
.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* This gives the minimum height for the body of the card in the html. */
.card-body {
  min-height: 100px;
}

/* This aligns everything in the footer of the card to be centered text. */
.card-footer {
  text-align: center;
}

/* This specifices the styling of the card footer button before it is clicked and the password is generated. */
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* This specifices the styling of the card footer button after it is clicked and the password is generated. */
.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/* This specifies the styling of the button class, including its color and background so it makes it clear this is a button. */
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* When the buddon is disabled, the background color is hray and the cursor doesn't change to a pointer. */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/* This floats everything under this class to the right, respectively. */
.float-right {
  float: right;
}

/* This styles the appearance of the password id once it is generated by the js file. */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* This uses media query to adjust the font size, margin, and padding for smaller viewing devices. */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

/* This uses media query to adjust the font size for smaller viewing devices. */
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
